@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700;900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  @apply text-base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Gabarito', sans-serif;
}

.gradient-divider {
  -webkit-animation: gradienter 5s ease infinite;
  -moz-animation: gradienter 5s ease infinite;
  animation: gradienter 5s ease infinite;
}

@-webkit-keyframes gradienter {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradienter {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradienter {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}