@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700;900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  @apply text-base;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  /* @apply overflow-x-hidden */
}

h1, h2, h3, h4 {
  font-family: 'Gabarito', sans-serif;
}

.gradient-divider {
  -webkit-animation: gradienter 5s ease infinite;
  -moz-animation: gradienter 5s ease infinite;
  animation: gradienter 5s ease infinite;
}

@-webkit-keyframes gradienter {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradienter {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradienter {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.profile-pattern {
  --s: 100px; /* control the size */
  --c1: #E1F5C4;
  --c2: #3B8183;
  
  --_g:#0000, #0004 5%,
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,
     var(--c2) 86% 94%,#0004 95%,#0000;
  background:
    radial-gradient(100% 50% at 100% 0   ,var(--_g)),
    radial-gradient(100% 50% at 0    50% ,var(--_g)),
    radial-gradient(100% 50% at 100% 100%,var(--_g));
  background-size: var(--s) calc(2*var(--s));
}

.swiper-slide, .swiper-wrapper {
  width: 100% !important;
}